{
  "root": true,
  "extends": [
    "@aerian/eslint-config-typescript"
  ],
  "parserOptions": {
    "project": ["./tsconfig.base.json"]
  },

  "overrides": [{
    "files": ["*.js"],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "requireConfigFile": false
    },
    "rules": {
      "@typescript-eslint/no-var-requires": 0
    }
  }]
}
